force-app/main/default/flows/Account_Stage_Date_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Stage_Value</name>
        <label>Check Stage Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Stage_Is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Onboarding_Date</targetReference>
            </connector>
            <label>Stage Is Lead</label>
        </rules>
        <rules>
            <name>Stage_Is_Trading</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trading</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Go_Live_Date</targetReference>
            </connector>
            <label>Stage Is Trading</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Review_Date_Needed</name>
        <label>Check Review Date Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Review Date Already Set</defaultConnectorLabel>
        <rules>
            <name>Review_Date_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_Live_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Review_Date</targetReference>
            </connector>
            <label>Review Date Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Review_Date_Value</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Go_Live_Date__c} + 365</expression>
    </formulas>
    <formulas>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account Stage Date Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Stage Date Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <assignments>
        <name>Set_Onboarding_Date</name>
        <label>Set Onboarding Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Onboarding_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Go_Live_Date</name>
        <label>Set Go Live Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Go_Live_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Review_Date_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Review_Date</name>
        <label>Set Review Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Date_Value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
