force-app/main/default/flows/Application_Submitted_Account_Stage_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Application Submitted Account Stage Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Submitted Account Stage Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <decisions>
        <name>Is_Initial_Submission</name>
        <label>Is Initial Submission?</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Not Initial Submission (skip conversion)</defaultConnectorLabel>
        <rules>
            <name>Prior_Was_Draft_Or_In_Progress</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Convert_Application</targetReference>
            </connector>
            <label>Prior Was Draft or In Progress</label>
        </rules>
    </decisions>
    <actionCalls>
        <name>Auto_Convert_Application</name>
        <label>Auto Convert Application to Account</label>
        <locationX>176</locationX>
        <locationY>312</locationY>
        <actionName>AutoConvertApplicationAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Conversion_Failed</targetReference>
        </faultConnector>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <customErrors>
        <name>Conversion_Failed</name>
        <label>Auto Conversion Failed</label>
        <locationX>352</locationX>
        <locationY>312</locationY>
        <customErrorMessages>
            <errorMessage>The onboarding application could not be automatically converted to an Account and Contacts. Please contact your Salesforce administrator. Detail: {!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <start>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Is_Initial_Submission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Onboarding_Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
