force-app/main/default/flows/Assign_Client_Code_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Assign Client Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Client Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <actionCalls>
        <name>Get_Next_Client_Code</name>
        <label>Get Next Client Code</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <actionName>GetNextClientCode</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Account_Record</targetReference>
        </connector>
        <outputParameters>
            <assignToReference>NextCode</assignToReference>
            <name>nextClientCode</name>
        </outputParameters>
    </actionCalls>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>176</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Stage__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Client_Code</name>
        <label>Update Account Client Code</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Code__c</field>
            <value>
                <elementReference>Assigned_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Client Coded</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Approve and Assign Client Code</label>
        <locationX>176</locationX>
        <locationY>400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_Client_Code</targetReference>
        </connector>
        <fields>
            <name>Display_Next_Code</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Next available client code: &lt;/strong&gt;{!NextCode}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Account_Name</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This code will be assigned to: &lt;/strong&gt;{!AccountRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assigned_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NextCode</elementReference>
            </defaultValue>
            <fieldText>Client Code to Assign</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>You may override the suggested code if needed.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Assignment</name>
            <dataType>Boolean</dataType>
            <fieldText>I confirm this client code is correct and the client is approved for Client Coded status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <connector>
            <targetReference>Get_Next_Client_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
