force-app/main/default/flows/Corporate_FX.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Client_Success_Email</name>
        <label>Client Success Email</label>
        <locationX>308</locationX>
        <locationY>1862</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Thx_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>RecipientEmailAddressList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>itdev@lydiamgroup.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Application Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;div style=&quot;width:100%; text-align:center; font-family:Arial, sans-serif; color:#006400;&quot;&gt;&lt;p style=&quot;margin:0;&quot;&gt;&lt;img src=&quot;https://ability-customization-4283.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068KB000008pAzb&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TKB00000XH9VK&amp;amp;page=0&amp;amp;d=/a/KB0000012ddf/hUVy892eXfjzAYDWSUyNdOrEvrmF7FQqYdsOJJS0mVM&amp;amp;oid=00DAe00000AaBf7&amp;amp;dpt=null&amp;amp;viewId=&quot; alt=&quot;welcome.png&quot; style=&quot;width:100%; max-width:600px; height:auto; display:block; margin:0 auto;&quot; /&gt;&lt;/p&gt;&lt;p style=&quot;font-size:20px; margin:20px 0;&quot;&gt;Thank you.&lt;/p&gt;&lt;p style=&quot;font-size:20px; margin:20px 0;&quot;&gt;Your application has been submitted.&lt;/p&gt;&lt;table align=&quot;center&quot; cellpadding=&quot;10&quot; cellspacing=&quot;0&quot; style=&quot;margin:20px auto; text-align:center;&quot;&gt;&lt;tr&gt;&lt;td&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://ability-customization-4283--partial.sandbox.file.force.com/file-asset-public/fb?oid=00DKI000000LHHz&quot; alt=&quot;Facebook&quot; width=&quot;38&quot; style=&quot;display:block; border:none;&quot;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://ability-customization-4283--partial.sandbox.file.force.com/file-asset-public/twitter?oid=00DKI000000LHHz&quot; alt=&quot;Twitter&quot; width=&quot;38&quot; style=&quot;display:block; border:none;&quot;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;td&gt;&lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;https://ability-customization-4283--partial.sandbox.file.force.com/file-asset-public/insta?oid=00DKI000000LHHz&quot; alt=&quot;Instagram&quot; width=&quot;38&quot; style=&quot;display:block; border:none;&quot;/&gt;&lt;/a&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;table align=&quot;center&quot; width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;max-width:600px; margin:0 auto;&quot;&gt;&lt;tr&gt;&lt;td style=&quot;font-size:12px; line-height:1.5; color:#006400; text-align:center; padding:20px;&quot;&gt;&lt;p style=&quot;margin:0;&quot;&gt;Lydiam Group. All rights reserved.&lt;br&gt;Lydiam Group, 17 Hannover Square, London, W1S 1BN&lt;/p&gt;&lt;p style=&quot;margin-top:15px;&quot;&gt;This email is intended for the named recipient only. It may contain privileged and confidential information. If you are not the intended recipient, notify the sender immediately and destroy this email. You must not copy, distribute or take action in reliance upon it.&lt;/p&gt;&lt;p style=&quot;margin-top:15px;&quot;&gt;Whilst all efforts are made to safeguard emails, we cannot guarantee that attachments are virus free or compatible with your systems and does not accept liability in respect of viruses or computer problems experienced. We reserve the right to monitor all email communications through its internal and external networks.&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/div&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Success_Email</name>
        <label>Success Email</label>
        <locationX>308</locationX>
        <locationY>1646</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Assign_Email_Address</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ReceiverEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>itdev@lydiamgroup.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Corporate FX New Submission </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Dear Team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find below the details of the newly created Salesforce records:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://ability-customization-4283.lightning.force.com/lightning/r/Account/{!AccIdText}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Company_Applicant_name}&lt;/a&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Email_Address</name>
        <label>Assign Email Address</label>
        <locationX>308</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmailAddressList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailForNotifications.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Client_Success_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailAddress</name>
        <label>AssignEmailAddress</label>
        <locationX>308</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ReceiverEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sales@lydiamgroup.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiverEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ayaz.khan@lydiamgroup.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Success_Email</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>LimitedCompany</name>
        <choiceText>Limited Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CheckTerms</name>
        <label>CheckTerms</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cheked</defaultConnectorLabel>
        <rules>
            <name>Not_Cheked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_agree_to_Terms_Conditions_above_declaration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_application7</targetReference>
            </connector>
            <label>Not Cheked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Relationship__c</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>bnkCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Countries_which_funds_transfers_are_expe__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Crypto_Token</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Crytpo_token_needed__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>doesTheApplicant</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_the_Applicant_have_an_investment_po__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NetWorth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Applicant_s_Liquid_Net_Worth__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Purpose_of_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose_of_Account__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Salutation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Salutation</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Entity_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceFunds</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Funds__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade12Months</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traded_in_the_past_12_months__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade_Frequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Trade_Frequency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Corporate FX {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Corporate FX</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account</label>
        <locationX>308</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>AccIdText</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>RegisteredAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>RegisteredAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>RegisteredAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>RegisteredAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Number__c</field>
            <value>
                <elementReference>Company_Registration_Numbe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Incorporation_or_Domicile__c</field>
            <value>
                <elementReference>Country_of_Incorporation_or_Domicile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_largest_shareholder__c</field>
            <value>
                <elementReference>Does_the_largest_shareholder_own_less_than_25_of_the_company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_for_Notifications__c</field>
            <value>
                <elementReference>EmailForNotifications.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Date__c</field>
            <value>
                <elementReference>Incorporation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_Company_regulated_by_any_governme__c</field>
            <value>
                <elementReference>Is_the_Company_regulated_by_any_government_agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_more_than_1_Shareholder__c</field>
            <value>
                <elementReference>Is_there_more_than_1_Shareholder_with_25_Ownership_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_Identifier_LEI__c</field>
            <value>
                <elementReference>Legal_Entity_Identifier_LEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_Type__c</field>
            <value>
                <elementReference>Legal_Entity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquidity_venue_in_the_prior_30_days__c</field>
            <value>
                <elementReference>Has_your_organisation_transacted_with_another_liquidity_venue_in_the_prior_30_da</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Shareholders_with__c</field>
            <value>
                <elementReference>List_of_Shareholders_with_25_Ownership_Interest_Will_be_verified_via_corporate_d</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Applicant_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account_Other__c</field>
            <value>
                <elementReference>Other_please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account__c</field>
            <value>
                <elementReference>Purpose_of_AccountpickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012KB000000TZFsYAO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Funds__c</field>
            <value>
                <elementReference>Source_of_Funds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Wealth_of_Owners__c</field>
            <value>
                <elementReference>Source_of_Wealth_of_Owners_with_25_Ownership_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typical_Trade_Size__c</field>
            <value>
                <elementReference>Typical_Trade_Size</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>308</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Create_Director_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_contact</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailField.value</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailField.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NameField.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>NameField.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>PhoneField.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Director_Contact</name>
        <label>Create Director Contact</label>
        <locationX>308</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Trader_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_Director</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Trader_Contact</name>
        <label>Create Trader Contact</label>
        <locationX>308</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_Trader</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_Type__c</field>
            <value>
                <stringValue>Trader</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Trade_Frequency__c</field>
            <value>
                <elementReference>Estimated_Trade_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Copy_1_of_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Copy_1_of_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Copy_1_of_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traded_in_the_past_12_months__c</field>
            <value>
                <elementReference>Which_of_the_following_have_you_traded_in_the_past_12_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>other_relevant_trading_experience__c</field>
            <value>
                <elementReference>Please_indicate_any_other_relevant_trading_experience_if_applicable</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>308</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>AssignEmailAddress</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_on_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccIdText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approximate_Number_of_Monthly__c</field>
            <value>
                <elementReference>Approximate_Number_of_Monthly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approximate_per_Trade_Volume__c</field>
            <value>
                <elementReference>Approximate_per_Trade_Volume</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Countries_which_funds_transfers_are_expe__c</field>
            <value>
                <elementReference>Countries_which_funds_transfers_are_expected_to_go_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Countries_which_funds_transfers_are_from__c</field>
            <value>
                <elementReference>Countries_which_funds_transfers_are_expected_to_come_from</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Crytpo_token_needed__c</field>
            <value>
                <elementReference>Crytpo_token_needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currencies_Needed__c</field>
            <value>
                <elementReference>Currencies_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Applicant_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>005KB000001LGwfYAG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Transactions_Please_be_speci__c</field>
            <value>
                <elementReference>Purpose_of_Transactions_Please_be_specific</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transactions_Approximate_Annual_Volume__c</field>
            <value>
                <elementReference>Transactions_Approximate_Annual_Volume</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>Roll_back_Account</name>
        <label>Roll back Account</label>
        <locationX>1628</locationX>
        <locationY>1106</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_contact</name>
        <label>Roll back contact</label>
        <locationX>1364</locationX>
        <locationY>1214</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_Director</name>
        <label>Roll back Director</label>
        <locationX>1100</locationX>
        <locationY>1322</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_on_Error</name>
        <label>Roll Back on Error</label>
        <locationX>572</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_Trader</name>
        <label>Roll back Trader</label>
        <locationX>836</locationX>
        <locationY>1430</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_application1</name>
        <label>Create application1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application2</targetReference>
        </connector>
        <fields>
            <name>Personal_Info</name>
            <fieldText>Section 1: Entity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Info_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameField</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Person Completing Application - Name*</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salutation,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;FirstName, LastName and Salutation is required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
  NOT(ISBLANK({!NameField.salutation})),
  NOT(ISBLANK({!NameField.firstName})),
  NOT(ISBLANK({!NameField.lastName}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>EmailField</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhoneField</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Applicant_name</name>
                    <dataType>String</dataType>
                    <fieldText>Company/Applicant name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal_Entity_Type</name>
                    <choiceReferences>Source</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Entity Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country_of_Incorporation_or_Domicile</name>
                    <dataType>String</dataType>
                    <fieldText>Country of Incorporation or Domicile</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Registration_Numbe</name>
                    <dataType>String</dataType>
                    <fieldText>Company Registration Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Incorporation_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Incorporation Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal_Entity_Identifier_LEI</name>
                    <dataType>String</dataType>
                    <fieldText>Legal Entity Identifier (LEI)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RegisteredAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nature_of_Business</name>
                    <dataType>String</dataType>
                    <fieldText>Nature of Business</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_the_Company_regulated_by_any_government_agency</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Company regulated by any government agency?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Website_URL</name>
                    <dataType>String</dataType>
                    <fieldText>Website URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Financial_Information</name>
            <fieldText>Financial Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Financial_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financial_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_s_Liquid_Net_Worth</name>
                    <choiceReferences>NetWorth</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Applicant&apos;s Liquid Net Worth</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Does_t</name>
                    <choiceReferences>doesTheApplicant</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the Applicant have an investment portfolio (Cash and Financial Instruments) in excess of $500,000 or equivalents?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Financial_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Section_1</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application2</name>
        <label>Create application2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application3</targetReference>
        </connector>
        <fields>
            <name>Section_2_Shareholder_Information</name>
            <fieldText>Section 2: Shareholder Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_2_Shareholder_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Shareholder_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_there_more_than_1_Shareholder_with_25_Ownership_Interest</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there more than 1 Shareholder with &gt; 25% Ownership Interest?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Does_the_largest_shareholder_own_less_than_25_of_the_company</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the largest shareholder own less than 25% of the company?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>List_of_Shareholders_with_25_Ownership_Interest_Will_be_verified_via_corporate_d</name>
                    <dataType>String</dataType>
                    <fieldText>List of Shareholders with &gt; 25% Ownership Interest - Will be verified via corporate documentation.</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Please list the shareholder&apos;s full name and ownership percentage&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Wealth_of_Owners_with_25_Ownership_Interest</name>
                    <dataType>String</dataType>
                    <fieldText>Source of Wealth of Owners with &gt; 25% Ownership Interest</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Shareholder_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_2</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application3</name>
        <label>Create application3</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application4</targetReference>
        </connector>
        <fields>
            <name>Section_3_Director_Information</name>
            <fieldText>Section 3: Director Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_3_Director_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Director_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(240, 1, 1); background-color: rgb(255, 255, 255);&quot;&gt;FirstName and LastName is Required&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(
  NOT(ISBLANK({!Name.lastName})),
  NOT(ISBLANK({!Name.firstName}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Position_Role</name>
                    <dataType>String</dataType>
                    <fieldText>Position/Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Need_to_List_More_Directors</name>
                    <dataType>String</dataType>
                    <fieldText>Need to List More Directors?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please list the director&apos;s full name.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Director_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_3</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application4</name>
        <label>Create application4</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application5</targetReference>
        </connector>
        <fields>
            <name>Section4_AuthorisedTrader</name>
            <fieldText>Section 4: Authorised Trader</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section4_AuthorisedTrader_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section4_AuthorisedTrader_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Please enter both First Name and Last Name.&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(    NOT(ISBLANK({!Copy_1_of_Name.firstName})),NOT(ISBLANK({!Copy_1_of_Name.lastName}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Copy_1_of_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Telegram</name>
                    <dataType>String</dataType>
                    <fieldText>Telegram</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Position_Role</name>
                    <dataType>String</dataType>
                    <fieldText>Position/Role</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Which_of_the_following_have_you_traded_in_the_past_12_months</name>
                    <choiceReferences>Trade12Months</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which of the following have you traded in the past 12 months?</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Estimated_Trade_Frequency</name>
                    <choiceReferences>Trade_Frequency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estimated Trade Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Please_indicate_any_other_relevant_trading_experience_if_applicable</name>
                    <dataType>String</dataType>
                    <fieldText>Please indicate any other relevant trading experience if applicable</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section4_AuthorisedTrader_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage4</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application5</name>
        <label>Create application5</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_application6</targetReference>
        </connector>
        <fields>
            <name>Section_5_Trading_Account_Information</name>
            <fieldText>Section 5: Trading Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_5_Trading_Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Trading_Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_of_AccountpickList</name>
                    <choiceReferences>Purpose_of_Account</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Purpose of Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_please_specify</name>
                    <dataType>String</dataType>
                    <fieldText>Other (please specify)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Funds</name>
                    <choiceReferences>SourceFunds</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Source of Funds</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Typical_Trade_Size</name>
                    <dataType>String</dataType>
                    <fieldText>Typical Trade Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Has_your_organisation_transacted_with_another_liquidity_venue_in_the_prior_30_da</name>
                    <dataType>String</dataType>
                    <fieldText>Has your organisation transacted with another liquidity venue in the prior 30 days? If so, where?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailForNotifications</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address for Records and Notifications</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Trading_Account_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_5</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application6</name>
        <label>Create application6</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_application7</targetReference>
        </connector>
        <fields>
            <name>Foreign_Exchange_And_Payment_Needs</name>
            <fieldText>Foreign Exchange And Payment Needs</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Foreign_Exchange_And_Payment_Needs_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Foreign_Exchange_And_Payment_Needs_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_of_Transactions_Please_be_specific</name>
                    <dataType>String</dataType>
                    <fieldText>Purpose of Transactions (Please be specific)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Approximate_per_Trade_Volume</name>
                    <dataType>String</dataType>
                    <fieldText>Approximate per Trade Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Approximate_Number_of_Monthly</name>
                    <dataType>String</dataType>
                    <fieldText>Approximate Number of Monthly</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Transactions_Approximate_Annual_Volume</name>
                    <dataType>String</dataType>
                    <fieldText>Transactions Approximate Annual Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Currencies_Needed</name>
                    <choiceReferences>Crypto_Token</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currencies Needed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Crytpo_token_needed</name>
                    <choiceReferences>Crypto_Token</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Crypto token needed</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Countries_which_funds_transfers_are_expected_to_go_to</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Countries which funds transfers are expected to go to</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Countries_which_funds_transfers_are_expected_to_come_from</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Countries which funds transfers are expected to come from</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Foreign_Exchange_And_Payment_Needs_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage6</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application7</name>
        <label>Create application7</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckTerms</targetReference>
        </connector>
        <fields>
            <name>Create_application7_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_application7_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DECLARATION</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: transparent;&quot;&gt;DECLARATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;By signing and returning this form, I/we confirm for and on behalf of the applicant that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I have read, understood and accurately completed the application form to open a trading account.&lt;/li&gt;&lt;li&gt;I have received, read and understand the Lydiam Group Ltd Professional Electronic Trading Agreement and all other agreements herein.&lt;/li&gt;&lt;li&gt;I have read and understand the nature and risks of the products intended to trade through this account.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As the applicant, I have authorization to act on all matters regarding opening and operating the trading account with Lydiam Group including but not limited to deposits, withdrawals, trading and investment instruments.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Terms</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;TERMS OF BUSINESS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;Please follow this link to view our Terms of Business:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://143388228.fs1.hubspotusercontent-eu1.net/hubfs/143388228/LYDIAM%20GROUP%20%2BTERMS%2BOF%2BBUSINESS%2BCUSTOMER%2BAGREEMENT.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 238);&quot;&gt;Click here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;ELECTRONIC SIGNATURE AND ADOPTION&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Disclaimer</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 71, 91);&quot;&gt;By accepting this Agreement, you consent and agree that your use of a key pad, mouse or other device to select an item, button, icon or similar act or action while using any electronic service we offer or in accessing or making any transactions regarding any documents and disclosures constitutes your signature as if actually signed by you in writing (electronic signature). In some cases your electronic signature may be represented by your type written name or initials electronically placed on the documents and disclosures by means of the process described herein. Your electronic signature, whether expressed by process or symbolically or both, is hereby adopted by you and represents your intent to acknowledge receipt or sign, as applicable, the documents and disclosures and that your electronic signatures are thereby attached to, and logically associated with, the documents and disclosures. Further, you agree that no certification authority or other third party verification is necessary to the validity of your electronic signature and that the lack of such certification or third party verification will not in any way affect the enforceability of your signature or any resulting contract between you or your company and Lydiam Group Ltd.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Docs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Supporting Documentation Uploading&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;All corporate formation documents&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Corporate formation documents and clear ownership structure for any corporate/entity shareholders&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Most recent bank statement in the name of the company (no screenshots - actual statement required, or only if it&apos;s a new account, a welcome letter from the bank showing the account name and number)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Register of Shareholders and Directors&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Individual verification of Directors (copy of passport and a bank statement or a utility bill less than 90 days old&amp;nbsp;- gas, electric, water, cable, landline phone.&lt;/span&gt;&lt;u style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/u&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Individual verification of Shareholders/Beneficial Owners with a 25% or greater interest in the Company&amp;nbsp;(copy of passport and a bank statement or a utility bill - gas, electric, water, cable, landline phone. We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;If the entity handles client funds of any type, an up to date AML/KYC policy.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Company Structure Chart&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;(A company structure chart is a visualization of the ownership, governance, and management relationships among legal entities of a single enterprise - a collection of companies)&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatures</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Signatures&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;By electronically signing this form, you represent that all the information contained herein is true and accurate. You agree to be bound by the agreement as the applicant and confirm that you are not a third party applying on behalf of the applicant. Documentation verifying your identity and authority may be requested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Trading FX, Digital Assets, CFDs, and other Financial Market Products and Instruments can result in losses exceeding your deposit. Use of these Products and Instruments may not be suitable for everyone. Please ensure you fully understand the risks and seek independent advice if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TsandCsRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 16, 16);&quot;&gt;Ts&amp;amp;Cs are required *&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_agree_to_Terms_Conditions_above_declaration</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_agree_to_Terms_Conditions_above_declaration</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I agree to Terms &amp; Conditions &amp; above declaration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_Title</name>
                    <choiceReferences>Salutation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Signatory Title</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage7</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>572</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thx_Screen</name>
        <label>Thx Screen</label>
        <locationX>308</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThxDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Thank you. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Your application has been submitted.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Section_1</name>
        <isActive>true</isActive>
        <label>Entity Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage4</name>
        <isActive>true</isActive>
        <label>Authorised Trader</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage6</name>
        <isActive>true</isActive>
        <label>Banking Information</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Stage7</name>
        <isActive>true</isActive>
        <label>DECLARATION</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Stage_2</name>
        <isActive>true</isActive>
        <label>Shareholder Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3</name>
        <isActive>true</isActive>
        <label>Director Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_5</name>
        <isActive>true</isActive>
        <label>Trading Account Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_application1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ABANub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IBAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceiverEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>info.cloudcrm@gmail.com,Sales@lydiamgroup.com,ayaz.khan@lydiamgroup.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>ReceiverEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecipientEmailAddressList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDoclink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>singleVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SWIFText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>versionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
