force-app/main/default/flows/Crypto_Individual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignId</name>
        <label>AssignId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleDocVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVersions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopVersions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Doc_Files</name>
        <label>Count Doc Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>docFileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>identificationVersions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DocsUploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Files</name>
        <label>Count Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>versionIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Doc_Link</name>
        <label>Create Doc Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singleVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>LimitedCompany</name>
        <choiceText>Limited Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DocsUploaded</name>
        <label>DocsUploaded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_application2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docFileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_application1</targetReference>
            </connector>
            <label>No document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Files_uploaded</name>
        <label>Files uploaded?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_application7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_application6</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>YesItIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_application7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TsandCs_Empty</name>
        <label>TsandCs Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Account_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checked</defaultConnectorLabel>
        <rules>
            <name>Not_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_agree_to_Terms_Conditions_above_declaratio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_application7</targetReference>
            </connector>
            <label>Not Checked</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Relationship__c</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>applicantWorth</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Applicant_s_Liquid_Net_Worth__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>bnkCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Estimated</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Trade_Frequency__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IdentificationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Identification_Type__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>investmentPort</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Does_the_Applicant_have_an_investment_po__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Purpose_of_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose_of_Account__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Entity_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceFunds</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Funds__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade12Months</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traded_in_the_past_12_months__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade_Frequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Trade_Frequency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Which12Months</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traded_in_the_past_12_months__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Crypto Individual {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Crypto Individual</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>versionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Doc_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Link_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopVersions</name>
        <label>LoopVersions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>identificationVersions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Create_Link_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Link_Event</name>
        <label>Copy 2 of Create Link Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Thank_you_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Roll_back_from_Event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>File_Version_IDs__c</field>
            <value>
                <elementReference>SingleDocVersion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </inputAssignments>
        <object>File_Upload_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>AccountRecId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Bank</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Applicant_s_Liquid_Net_Worth__c</field>
            <value>
                <elementReference>Applicant_s_Liquid_Net_Worth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>RegisteredAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>RegisteredAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>RegisteredAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>RegisteredAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Expiration_Date__c</field>
            <value>
                <elementReference>Document_Expiration_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_Applicant_have_an_investment_po__c</field>
            <value>
                <elementReference>Does_the_Applicant_have_an_investment_portfolio_Cash_and_Financial_Instruments_i</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_for_Notifications__c</field>
            <value>
                <elementReference>Email_Address_for_Records_and_Notifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Trade_Frequency__pc</field>
            <value>
                <elementReference>Estimated_Trade_Frequency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>NameField.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ID_Number__pc</field>
            <value>
                <elementReference>ID_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Identification_Type__pc</field>
            <value>
                <elementReference>Identification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>NameField.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>EmailField.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMobilePhone</field>
            <value>
                <elementReference>PhoneField.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Politically_exposed_Person__c</field>
            <value>
                <elementReference>Is_the_Applicant_a_politically_exposed_person_PEP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account_Other__c</field>
            <value>
                <elementReference>Other_Please_specify_here</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account__c</field>
            <value>
                <elementReference>Purpose_of_Account2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012KB000000TbY7YAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Funds_Text__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Wealth__c</field>
            <value>
                <elementReference>Source_of_Wealth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traded_in_the_past_12_months__pc</field>
            <value>
                <elementReference>Which_of_the_following_have_you_traded_in_the_past_12_months</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Private Crypto</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typical_Trade_Size__c</field>
            <value>
                <elementReference>Typical_Trade_Size2</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Bank</name>
        <label>Create Bank</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>bankAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>CreateOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ABA_Number__c</field>
            <value>
                <elementReference>ABA_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Relationship__c</field>
            <value>
                <elementReference>Account_relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Name__c</field>
            <value>
                <elementReference>Bank_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Number__c</field>
            <value>
                <elementReference>IBAN_or_Account_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Address__c</field>
            <value>
                <elementReference>Bank_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Bank_Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sort_Code__c</field>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Bank_Account__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Link_Event</name>
        <label>Create Link Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LoopVersions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_from_Event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>File_Version_IDs__c</field>
            <value>
                <elementReference>singleVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>bankAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>File_Upload_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_on_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Notification_Email__c</field>
            <value>
                <elementReference>Email_Address_for_Records_and_Notifications</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Applicant_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>Roll_back_Account</name>
        <label>Roll back Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_from_Event</name>
        <label>Roll back from Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_on_Error</name>
        <label>Roll Back on Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_application1</name>
        <label>Create application1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Count_Doc_Files</targetReference>
        </connector>
        <fields>
            <name>Personal_Info</name>
            <fieldText>Section 1: Entity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Info_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameField</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Person Completing Application - Name*</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailField</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhoneField</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Applicant_name</name>
                    <dataType>String</dataType>
                    <fieldText>Company/Applicant name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Incorporation_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Incorporation Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RegisteredAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Residential  Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_the_Applicant_a_politically_exposed_person_PEP</name>
                    <dataType>String</dataType>
                    <fieldText>Is the Applicant a politically exposed person (PEP)?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_2_Identity_Verification</name>
            <fieldText>Section 2: Identity Verification</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_2_Identity_Verification_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Identity_Verification_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Identification</name>
                    <choiceReferences>IdentificationType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Identification Document Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ID_Number</name>
                    <dataType>String</dataType>
                    <fieldText>ID Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Document_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Document Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DocRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(176, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(179, 11, 11); background-color: rgb(255, 255, 255);&quot;&gt;Identification Document is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>docFileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>copyOfId</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Upload a Copy of the ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.png,.jpeg</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>identificationVersions</assignToReference>
                        <name>contentVersionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Identity_Verification_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Section_1</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application2</name>
        <label>Create application2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application5</targetReference>
        </connector>
        <fields>
            <name>Section_3_Trading_Experience</name>
            <fieldText>Section 3: Trading Experience</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_3_Trading_Experience_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Trading_Experience_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Which_of_the_following_have_you_traded_in_the_past_12_months</name>
                    <choiceReferences>Which12Months</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Which of the following have you traded in the past 12 months</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Estimated_Trade_Frequency</name>
                    <choiceReferences>Estimated</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estimated Trade Frequency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_3_Trading_Experience_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Section_4_Trading_Account_Information</name>
            <fieldText>Section 4: Trading Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_4_Trading_Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_4_Trading_Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_of_Account2</name>
                    <choiceReferences>Purpose_of_Account</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Purpose of Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_Please_specify_here</name>
                    <dataType>String</dataType>
                    <fieldText>Other (Please specify here)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Typical_Trade_Size2</name>
                    <dataType>String</dataType>
                    <fieldText>Typical Trade Size?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email_Address_for_Records_and_Notifications</name>
                    <dataType>String</dataType>
                    <fieldText>Email Address for Records and Notifications</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_4_Trading_Account_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_2</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application5</name>
        <label>Create application5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_application6</targetReference>
        </connector>
        <fields>
            <name>Section_5_Financial_Information</name>
            <fieldText>Section 5: Financial Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_5_Financial_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Financial_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Applicant_s_Liquid_Net_Worth</name>
                    <choiceReferences>applicantWorth</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Applicant&apos;s Liquid Net Worth</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Does_the_Applicant_have_an_investment_portfolio_Cash_and_Financial_Instruments_i</name>
                    <choiceReferences>investmentPort</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the Applicant have an investment portfolio (Cash and Financial Instruments) in excess of $500,000 or equivalents?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Wealth</name>
                    <dataType>String</dataType>
                    <fieldText>Source of Wealth</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: arial, helvetica, sans-serif; color: rgb(33, 45, 58);&quot;&gt;(Examples include employment income, investments, business ownership interests, inheritance. Please be as specific as possible to avoid delays in processing your application.):&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Funds2</name>
                    <dataType>String</dataType>
                    <fieldText>Source of Funds</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: arial, helvetica, sans-serif; color: rgb(33, 45, 58);&quot;&gt;(Examples include personal savings, pension releases, share sales and dividends, property sales, gambling winnings, inheritance. Please be as specific as possible to avoid delays in processing your application.)&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Financial_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_5</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application6</name>
        <label>Create application6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_Files</targetReference>
        </connector>
        <fields>
            <name>Section_6_Banking_Information</name>
            <fieldText>Section 6: Banking Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_6_Banking_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_6_Banking_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankName</elementReference>
                    </defaultValue>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankAccountName</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>IBAN_or_Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IBAN</elementReference>
                    </defaultValue>
                    <fieldText>IBAN or Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SWIFT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SWIFText</elementReference>
                    </defaultValue>
                    <fieldText>SWIFT</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ABA_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ABANub</elementReference>
                    </defaultValue>
                    <fieldText>ABA Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sort_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SortCode</elementReference>
                    </defaultValue>
                    <fieldText>Swift / Sort Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankAddress</elementReference>
                    </defaultValue>
                    <fieldText>Bank Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Currency</name>
                    <choiceReferences>bnkCurrency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bank Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_relationship</name>
                    <choiceReferences>AccountRelationship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FileRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(176, 2, 2);&quot;&gt;*&lt;/span&gt; &lt;span style=&quot;color: rgb(179, 11, 11);&quot;&gt;Bank Statement is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BankStatement</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> Upload a Copy of the Bank Statement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>YesItIs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContectDocIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>UploadedFileNames</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>versionIds</assignToReference>
                        <name>contentVersionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_6_Banking_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage6</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application7</name>
        <label>Create application7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TsandCs_Empty</targetReference>
        </connector>
        <fields>
            <name>Create_application7_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_application7_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DECLARATION</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: transparent;&quot;&gt;DECLARATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;By signing and returning this form, I/we confirm for and on behalf of the applicant that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I have read, understood and accurately completed the application form to open a trading account.&lt;/li&gt;&lt;li&gt;I have received, read and understand the Lydiam Group Ltd Professional Electronic Trading Agreement and all other agreements herein.&lt;/li&gt;&lt;li&gt;I have read and understand the nature and risks of the products intended to trade through this account.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As the applicant, I have authorization to act on all matters regarding opening and operating the trading account with Lydiam Group including but not limited to deposits, withdrawals, trading and investment instruments.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Terms</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;TERMS OF BUSINESS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;Please follow this link to view our Terms of Business:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://143388228.fs1.hubspotusercontent-eu1.net/hubfs/143388228/LYDIAM%20GROUP%20%2BTERMS%2BOF%2BBUSINESS%2BCUSTOMER%2BAGREEMENT.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: transparent; font-size: 12px; color: rgb(0, 0, 238);&quot;&gt;Click here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;ELECTRONIC SIGNATURE AND ADOPTION&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Agreement</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 71, 91); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;By accepting this Agreement, you consent and agree that your use of a key pad, mouse or other device to select an item, button, icon or similar act or action while using any electronic service we offer or in accessing or making any transactions regarding any documents and disclosures constitutes your signature as if actually signed by you in writing (electronic signature). In some cases your electronic signature may be represented by your type written name or initials electronically placed on the documents and disclosures by means of the process described herein. Your electronic signature, whether expressed by process or symbolically or both, is hereby adopted by you and represents your intent to acknowledge receipt or sign, as applicable, the documents and disclosures and that your electronic signatures are thereby attached to, and logically associated with, the documents and disclosures. Further, you agree that no certification authority or other third party verification is necessary to the validity of your electronic signature and that the lack of such certification or third party verification will not in any way affect the enforceability of your signature or any resulting contract between you or your company and Lydiam Group Ltd.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Supporting</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Supporting Documentation Uploading&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;All corporate formation documents&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Corporate formation documents and clear ownership structure for any corporate/entity shareholders&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Most recent bank statement in the name of the company (no screenshots - actual statement required, or only if it&apos;s a new account, a welcome letter from the bank showing the account name and number)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Register of Shareholders and Directors&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Individual verification of Directors (copy of passport and a bank statement or a utility bill less than 90 days old&amp;nbsp;- gas, electric, water, cable, landline phone.&lt;/span&gt;&lt;u style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/u&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Individual verification of Shareholders/Beneficial Owners with a 25% or greater interest in the Company&amp;nbsp;(copy of passport and a bank statement or a utility bill - gas, electric, water, cable, landline phone. We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;If the entity handles client funds of any type, an up to date AML/KYC policy.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Company Structure Chart&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;(A company structure chart is a visualization of the ownership, governance, and management relationships among legal entities of a single enterprise - a collection of companies)&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatures</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Signatures&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;By electronically signing this form, you represent that all the information contained herein is true and accurate. You agree to be bound by the agreement as the applicant and confirm that you are not a third party applying on behalf of the applicant. Documentation verifying your identity and authority may be requested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Trading FX, Digital Assets, CFDs, and other Financial Market Products and Instruments can result in losses exceeding your deposit. Use of these Products and Instruments may not be suitable for everyone. Please ensure you fully understand the risks and seek independent advice if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TsandCs</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 16, 16);&quot;&gt;Ts&amp;amp;Cs are required *&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_agree_to_Terms_Conditions_above_declaratio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_agree_to_Terms_Conditions_above_declaratio</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I agree to Terms &amp; Conditions &amp; above declaration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage7</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Thank you. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Your application has been submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Section_1</name>
        <isActive>true</isActive>
        <label>Entity Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage4</name>
        <isActive>true</isActive>
        <label>Authorised Trader</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage6</name>
        <isActive>true</isActive>
        <label>Banking Information</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Stage7</name>
        <isActive>true</isActive>
        <label>DECLARATION</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Stage_2</name>
        <isActive>true</isActive>
        <label>Shareholder Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3</name>
        <isActive>true</isActive>
        <label>Director Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_5</name>
        <isActive>true</isActive>
        <label>Trading Account Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_application1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ABANub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Account_Record</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACcOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bankAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>docFileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>fileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>fstContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IBAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>identificationVersions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDoclink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>SingleDocVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SWIFText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>versionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
