force-app/main/default/flows/Private_Crypto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact</name>
        <label>Assign Contact</label>
        <locationX>176</locationX>
        <locationY>1148</locationY>
        <assignmentItems>
            <assignToReference>fstContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fstContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailField.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fstContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameField.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fstContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NameField.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>fileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>versionIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ABANub</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ABA_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IBAN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IBAN_or_Account_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SWIFText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SWIFT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SortCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BankAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Address</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Doc_Link</name>
        <label>Create Doc Link</label>
        <locationX>264</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>singleVersionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Files</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>LimitedCompany</name>
        <choiceText>Limited Company</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Limited Company</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Files_uploaded</name>
        <label>Files uploaded?</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Create_application7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_application6</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>YesItIs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_application7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountRelationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Account_Relationship__c</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>bnkCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyIsoCode</picklistField>
        <picklistObject>Bank_Account__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Purpose_of_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose_of_Account__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Entity_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceFunds</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Funds__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade12Months</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Traded_in_the_past_12_months__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trade_Frequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Estimated_Trade_Frequency__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Private Crypto {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Private Crypto</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>176</locationX>
        <locationY>1364</locationY>
        <collectionReference>versionIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Doc_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account_Record</name>
        <label>Create Account</label>
        <locationX>176</locationX>
        <locationY>1040</locationY>
        <assignRecordIdToReference>AccountRecId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Contact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_Account</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>RegisteredAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>RegisteredAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>RegisteredAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>RegisteredAddress.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Registration_Number__c</field>
            <value>
                <elementReference>Company_Registration_Numbe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country_of_Incorporation_or_Domicile__c</field>
            <value>
                <elementReference>Country_of_Incorporation_or_Domicile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_largest_shareholder__c</field>
            <value>
                <elementReference>Does_the_largest_shareholder_own_less_than_25_of_the_company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_for_Notifications__c</field>
            <value>
                <elementReference>EmailForNotifications.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorporation_Date__c</field>
            <value>
                <elementReference>Incorporation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_the_Company_regulated_by_any_governme__c</field>
            <value>
                <elementReference>Is_the_Company_regulated_by_any_government_agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_more_than_1_Shareholder__c</field>
            <value>
                <elementReference>Is_there_more_than_1_Shareholder_with_25_Ownership_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_Identifier_LEI__c</field>
            <value>
                <elementReference>Legal_Entity_Identifier_LEI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Entity_Type__c</field>
            <value>
                <elementReference>Legal_Entity_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liquidity_venue_in_the_prior_30_days__c</field>
            <value>
                <elementReference>Has_your_organisation_transacted_with_another_liquidity_venue_in_the_prior_30_da</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>List_of_Shareholders_with__c</field>
            <value>
                <elementReference>List_of_Shareholders_with_25_Ownership_Interest_Will_be_verified_via_corporate_d</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Applicant_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account_Other__c</field>
            <value>
                <elementReference>Other_please_specify</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Account__c</field>
            <value>
                <elementReference>Purpose_of_AccountpickList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012KB000000TZGCYA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Funds__c</field>
            <value>
                <elementReference>Source_of_Funds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Wealth_of_Owners__c</field>
            <value>
                <elementReference>Source_of_Wealth_of_Owners_with_25_Ownership_Interest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Typical_Trade_Size__c</field>
            <value>
                <elementReference>Typical_Trade_Size</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>176</locationX>
        <locationY>1256</locationY>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_contact</targetReference>
        </faultConnector>
        <inputReference>fstContact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateOpportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>SecondEvent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_on_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Company_Applicant_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SecondEvent</name>
        <label>SecondEvent</label>
        <locationX>176</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>Thank_you_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_from_Event</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>AccountRecId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Bank_Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Trading_Experience__c</field>
            <value>
                <elementReference>Sort_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Account_relationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trade_Frequency__c</field>
            <value>
                <elementReference>singleVersionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traded_in_12_Months__c</field>
            <value>
                <elementReference>Bank_Currency</elementReference>
            </value>
        </inputAssignments>
        <object>Contact_Creation_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>Roll_back_Account</name>
        <label>Roll back Account</label>
        <locationX>1364</locationX>
        <locationY>1148</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_contact</name>
        <label>Roll back contact</label>
        <locationX>1100</locationX>
        <locationY>1364</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_back_from_Event</name>
        <label>Roll back from Event</label>
        <locationX>572</locationX>
        <locationY>1880</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_on_Error</name>
        <label>Roll Back on Error</label>
        <locationX>836</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Create_application1</name>
        <label>Create application1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application2</targetReference>
        </connector>
        <fields>
            <name>Personal_Info</name>
            <fieldText>Section 1: Entity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_Info_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NameField</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Person Completing Application - Name*</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailField</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhoneField</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Applicant_name</name>
                    <dataType>String</dataType>
                    <fieldText>Company/Applicant name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal_Entity_Type</name>
                    <choiceReferences>Source</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Legal Entity Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country_of_Incorporation_or_Domicile</name>
                    <dataType>String</dataType>
                    <fieldText>Country of Incorporation or Domicile</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Company_Registration_Numbe</name>
                    <dataType>String</dataType>
                    <fieldText>Company Registration Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Incorporation_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Incorporation Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Legal_Entity_Identifier_LEI</name>
                    <dataType>String</dataType>
                    <fieldText>Legal Entity Identifier (LEI)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RegisteredAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Map</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nature_of_Business</name>
                    <dataType>String</dataType>
                    <fieldText>Nature of Business</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Website_URL</name>
                    <dataType>String</dataType>
                    <fieldText>Website URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Is_the_Company_regulated_by_any_government_agency</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Company regulated by any government agency?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Personal_Info_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Section_1</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application2</name>
        <label>Create application2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_application5</targetReference>
        </connector>
        <fields>
            <name>Section_2_Shareholder_Information</name>
            <fieldText>Section 2: Shareholder Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_2_Shareholder_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Shareholder_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_there_more_than_1_Shareholder_with_25_Ownership_Interest</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is there more than 1 Shareholder with &gt; 25% Ownership Interest?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Does_the_largest_shareholder_own_less_than_25_of_the_company</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the largest shareholder own less than 25% of the company?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>List_of_Shareholders_with_25_Ownership_Interest_Will_be_verified_via_corporate_d</name>
                    <dataType>String</dataType>
                    <fieldText>List of Shareholders with &gt; 25% Ownership Interest - Will be verified via corporate documentation.</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Wealth_of_Owners_with_25_Ownership_Interest</name>
                    <dataType>String</dataType>
                    <fieldText>Source of Wealth of Owners with &gt; 25% Ownership Interest</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_2_Shareholder_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_2</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application5</name>
        <label>Create application5</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_application6</targetReference>
        </connector>
        <fields>
            <name>Section_5_Trading_Account_Information</name>
            <fieldText>Section 5: Trading Account Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_5_Trading_Account_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Trading_Account_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purpose_of_AccountpickList</name>
                    <choiceReferences>Purpose_of_Account</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Purpose of Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Other_please_specify</name>
                    <dataType>String</dataType>
                    <fieldText>Other (please specify)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_Funds</name>
                    <choiceReferences>SourceFunds</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Source of Funds</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Typical_Trade_Size</name>
                    <dataType>String</dataType>
                    <fieldText>Typical Trade Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Has_your_organisation_transacted_with_another_liquidity_venue_in_the_prior_30_da</name>
                    <dataType>String</dataType>
                    <fieldText>Has your organisation transacted with another liquidity venue in the prior 30 days? If so, where?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailForNotifications</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Address for Records and Notifications</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_5_Trading_Account_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage_5</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application6</name>
        <label>Create application6</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <fields>
            <name>Section_6_Banking_Information</name>
            <fieldText>Section 6: Banking Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Section_6_Banking_Information_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_6_Banking_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankName</elementReference>
                    </defaultValue>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Account_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankAccountName</elementReference>
                    </defaultValue>
                    <fieldText>Bank Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>IBAN_or_Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>IBAN</elementReference>
                    </defaultValue>
                    <fieldText>IBAN or Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>SWIFT</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SWIFText</elementReference>
                    </defaultValue>
                    <fieldText>SWIFT</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ABA_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ABANub</elementReference>
                    </defaultValue>
                    <fieldText>ABA Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sort_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SortCode</elementReference>
                    </defaultValue>
                    <fieldText>Swift / Sort Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>BankAddress</elementReference>
                    </defaultValue>
                    <fieldText>Bank Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Bank_Currency</name>
                    <choiceReferences>bnkCurrency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bank Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account_relationship</name>
                    <choiceReferences>AccountRelationship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Account relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>FileRequired</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(176, 2, 2);&quot;&gt;*&lt;/span&gt; &lt;span style=&quot;color: rgb(179, 11, 11);&quot;&gt;Bank Statement is Required&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BankStatement</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> Upload a Copy of the Bank Statement</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>YesItIs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContectDocIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>UploadedFileNames</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>versionIds</assignToReference>
                        <name>contentVersionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>fileNames</name>
                    <fieldText>&lt;p&gt;{!UploadedFileNames}... {!ContectDocIds}...{!versionIds}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Section_6_Banking_Information_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage6</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Create_application7</name>
        <label>Create application7</label>
        <locationX>176</locationX>
        <locationY>932</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
        <fields>
            <name>Create_application7_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_application7_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DECLARATION</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; background-color: transparent;&quot;&gt;DECLARATION&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DT2</name>
                    <fieldText>&lt;p&gt;By signing and returning this form, I/we confirm for and on behalf of the applicant that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I have read, understood and accurately completed the application form to open a trading account.&lt;/li&gt;&lt;li&gt;I have received, read and understand the Lydiam Group Ltd Professional Electronic Trading Agreement and all other agreements herein.&lt;/li&gt;&lt;li&gt;I have read and understand the nature and risks of the products intended to trade through this account.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As the applicant, I have authorization to act on all matters regarding opening and operating the trading account with Lydiam Group including but not limited to deposits, withdrawals, trading and investment instruments.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_application7_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Stage7</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>836</locationX>
        <locationY>1880</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you_Screen</name>
        <label>Thank you Screen</label>
        <locationX>176</locationX>
        <locationY>1880</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYouText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;r&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Thank you. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 22px;&quot;&gt;Your application has been submitted.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Section_1</name>
        <isActive>true</isActive>
        <label>Entity Information</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Stage4</name>
        <isActive>true</isActive>
        <label>Authorised Trader</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Stage6</name>
        <isActive>true</isActive>
        <label>Banking Information</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>Stage7</name>
        <isActive>true</isActive>
        <label>DECLARATION</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>Stage_2</name>
        <isActive>true</isActive>
        <label>Shareholder Information</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Stage_3</name>
        <isActive>true</isActive>
        <label>Director Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Stage_5</name>
        <isActive>true</isActive>
        <label>Trading Account Information</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_application1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ABANub</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccIdText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Create_Account_Record</elementReference>
        </value>
    </variables>
    <variables>
        <name>AccountRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ACcOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContectDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>fstContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IBAN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleDoclink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>singleVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SortCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SWIFText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>versionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
