force-app/main/default/flows/Trade_Settlement_Timestamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Is_Status_Changed_To_Settled</name>
        <label>Is Status Changed to Settled?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>No — Skip</defaultConnectorLabel>
        <rules>
            <name>Yes_Stamp_Timestamp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Settled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Settlement_Timestamp</targetReference>
            </connector>
            <label>Yes — Stamp Timestamp</label>
        </rules>
    </decisions>
    <description>When a Trade record status changes to Settled, auto-stamps the Settlement_Timestamp__c field with the current date/time. Runs before save so no extra DML is required.</description>
    <environments>Default</environments>
    <interviewLabel>Trade Settlement Timestamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trade Settlement Timestamp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stamp_Settlement_Timestamp</name>
        <label>Stamp Settlement Timestamp</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Settlement_Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Status_Changed_To_Settled</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>false</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </filters>
        <object>Trade__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
