force-app/main/default/flows/Trade_Object_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Summation_of_FX</name>
        <label>Summation of FX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SumFX</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adding_FX.Number_of_Tokens__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_FX</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summation_of_Token</name>
        <label>Summation of Token</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SumToken</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adding_Token.Number_of_Tokens__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CrypSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Adding_Token.Number_of_Tokens__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_Token</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>On_Ramp</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crypto On-ramp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trade_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crypto-to-Crypto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trade_with_On_Ramp_and_CTC</targetReference>
            </connector>
            <label>For Crypto/token</label>
        </rules>
        <rules>
            <name>Fiat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trade_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trade_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crypto Off-ramp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trade_with_FX_and_Off_Ramp</targetReference>
            </connector>
            <label>For Fiat</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Trade Object Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trade Object Trigger</label>
    <loops>
        <name>Adding_FX</name>
        <label>Adding FX</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Trade_with_FX_and_Off_Ramp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summation_of_FX</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Fiat_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Adding_Token</name>
        <label>Adding Token</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Trade_with_On_Ramp_and_CTC</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summation_of_Token</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Total_Tokens_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Trade_with_FX_and_Off_Ramp</name>
        <label>Trade with FX and Off Ramp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adding_FX</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FX</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trade_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crypto Off-ramp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trade__c</object>
        <sortField>Number_of_Tokens__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Trade_with_On_Ramp_and_CTC</name>
        <label>Trade with On Ramp and CTC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Adding_Token</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Trade_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crypto On-Ramp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trade_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Crypto-to-Crypto</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Trade__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Total_Fiat_Update</name>
        <label>Total Fiat Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Fiat__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Total_Tokens_Update</name>
        <label>Total Tokens Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Crypto__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Tokens__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>Trade__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CrypSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CryptoSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FiatSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FXRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>SumCrypto</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumFX</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SumToken</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TokenAdd</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
