force-app/main/default/flows/Trade_Ref_Text_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Trade_Count</name>
        <label>Trade Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TradeSequence</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>TradeCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Reference_field</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>RefResult</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account__r.AccountNumber}&amp; &quot;-&quot; &amp;  LPAD(TEXT({!TradeSequence}+1), 3, &quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>Trade: Ref Text Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trade: Ref Text Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Count_Trades</name>
        <label>Count Trades</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Trade_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <object>Trade__c</object>
        <outputReference>TradeCount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Set_Reference_field</name>
        <label>Set Reference field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Trade_Reference_Number__c</field>
            <value>
                <elementReference>RefResult</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_Trades</targetReference>
        </connector>
        <object>Trade__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TradeCount</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Trade__c</objectType>
    </variables>
    <variables>
        <name>TradeSequence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
