force-app/main/default/flows/Unified_Client_Onboarding_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Proof_Of_Residential_Address_Document_File</name>
        <label>Proof Of Residential Address Document File</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>proofOfResidentialAddressIsUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>proofOfResidentialAddressValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Proof_of_residential_address_uploaded</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Advisory</name>
        <choiceText>Advisory</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Advisory</stringValue>
        </value>
    </choices>
    <choices>
        <name>Business_Ownership</name>
        <choiceText>Business Ownership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Ownership</stringValue>
        </value>
    </choices>
    <choices>
        <name>Corporate_entity</name>
        <choiceText>Corporate entity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Corporate entity</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crypto</name>
        <choiceText>Crypto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crypto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Employment</name>
        <choiceText>Employment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Employment</stringValue>
        </value>
    </choices>
    <choices>
        <name>FX</name>
        <choiceText>FX</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FX</stringValue>
        </value>
    </choices>
    <choices>
        <name>FXs</name>
        <choiceText>{!FX}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FX</elementReference>
        </value>
    </choices>
    <choices>
        <name>Inheritance</name>
        <choiceText>Inheritance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inheritance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Investment_Income</name>
        <choiceText>Investment Income</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Investment Income</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Private_individual</name>
        <choiceText>Private individual</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Private individual</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Client_Type_Decision</name>
        <label>Client Type Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Private_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Client_Branch</targetReference>
            </connector>
            <label>Private Path</label>
        </rules>
        <rules>
            <name>Corporate_Path</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Client_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate entity</stringValue>
                </rightValue>
            </conditions>
            <label>Corporate Path</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Proof_of_residential_address_uploaded</name>
        <label>Is Proof of residential address uploaded?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Private_Risk_Assessment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_proof_is_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>proofOfResidentialAddressIsUploaded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Private_Client_Branch</targetReference>
            </connector>
            <label>No proof is uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Countries_which_funds_transfers_are_expe__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Unified Client Onboarding Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unified Client Onboarding Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Declaration_Submit</name>
        <label>Declaration &amp; Submit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Declaration_submission_section</name>
            <fieldText>Declaration &amp; submission</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Declaration_submission_section_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_submission_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>declaration_first_paragraph</name>
                    <fieldText>&lt;p&gt;By signing and returning this form, I/we confirm for and on behalf of the applicant that:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;I have read, understood and accurately completed the application form to open a trading account.&lt;/li&gt;&lt;li&gt;I have received, read and understand the Lydiam Group Ltd Professional Electronic Trading Agreement and all other agreements herein.&lt;/li&gt;&lt;li&gt;I have read and understand the nature and risks of the products intended to trade through this account.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;As the applicant, I have authorization to act on all matters regarding opening and operating the trading account with Lydiam Group including but not limited to deposits, withdrawals, trading and investment instruments.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>declaration_second_paragraph</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;TERMS OF BUSINESS&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;Please follow this link to view our Terms of Business:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://143388228.fs1.hubspotusercontent-eu1.net/hubfs/143388228/LYDIAM%20GROUP%20%2BTERMS%2BOF%2BBUSINESS%2BCUSTOMER%2BAGREEMENT.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; color: rgb(0, 0, 238);&quot;&gt;Click here&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: transparent; font-size: 12px;&quot;&gt;ELECTRONIC SIGNATURE AND ADOPTION&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>declaration_third_paragraph</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(51, 71, 91);&quot;&gt;By accepting this Agreement, you consent and agree that your use of a key pad, mouse or other device to select an item, button, icon or similar act or action while using any electronic service we offer or in accessing or making any transactions regarding any documents and disclosures constitutes your signature as if actually signed by you in writing (electronic signature). In some cases your electronic signature may be represented by your type written name or initials electronically placed on the documents and disclosures by means of the process described herein. Your electronic signature, whether expressed by process or symbolically or both, is hereby adopted by you and represents your intent to acknowledge receipt or sign, as applicable, the documents and disclosures and that your electronic signatures are thereby attached to, and logically associated with, the documents and disclosures. Further, you agree that no certification authority or other third party verification is necessary to the validity of your electronic signature and that the lack of such certification or third party verification will not in any way affect the enforceability of your signature or any resulting contract between you or your company and Lydiam Group Ltd.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>declaration_fourth_paragraph</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Supporting Documentation Uploading&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;All corporate formation documents&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Corporate formation documents and clear ownership structure for any corporate/entity shareholders&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Most recent bank statement in the name of the company (no screenshots - actual statement required, or only if it&apos;s a new account, a welcome letter from the bank showing the account name and number)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Register of Shareholders and Directors&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Individual verification of Directors (copy of passport and a bank statement or a utility bill less than 90 days old&amp;nbsp;- gas, electric, water, cable, landline phone.&lt;/span&gt;&lt;u style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/u&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Individual verification of Shareholders/Beneficial Owners with a 25% or greater interest in the Company&amp;nbsp;(copy of passport and a bank statement or a utility bill - gas, electric, water, cable, landline phone. We cannot accept credit cards, cellular bills, insurance, or a driver&apos;s license.)&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;If the entity handles client funds of any type, an up to date AML/KYC policy.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Company Structure Chart&amp;nbsp;&lt;/span&gt;&lt;em style=&quot;font-size: 12px;&quot;&gt;(A company structure chart is a visualization of the ownership, governance, and management relationships among legal entities of a single enterprise - a collection of companies)&lt;/em&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>declaration_fifth_paragraph</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Signatures&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;By electronically signing this form, you represent that all the information contained herein is true and accurate. You agree to be bound by the agreement as the applicant and confirm that you are not a third party applying on behalf of the applicant. Documentation verifying your identity and authority may be requested.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;Trading FX, Digital Assets, CFDs, and other Financial Market Products and Instruments can result in losses exceeding your deposit. Use of these Products and Instruments may not be suitable for everyone. Please ensure you fully understand the risks and seek independent advice if necessary.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>terms_and_condition_required_text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(192, 16, 16);&quot;&gt;terms and condition are required *&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_agree_to_Terms_Conditions_above_declaration</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>I_agree_to_Terms_Conditions_above_declaration</name>
                    <dataType>Boolean</dataType>
                    <fieldText>I agree to Terms &amp; Conditions &amp; above declaration</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 14, 14);&quot;&gt;{!I_agree_to_Terms_Conditions_above_declaration} is required!&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!I_agree_to_Terms_Conditions_above_declaration} = null</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Signatory_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Signatory_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Signatory Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Declaration_submission_section_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Declaration_and_submission_stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Private_Client_Branch</name>
        <label>Private Client Branch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Proof_Of_Residential_Address_Document_File</targetReference>
        </connector>
        <fields>
            <name>Personal_information_identity_section</name>
            <fieldText>Personal information &amp; identity</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Personal_information_identity_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FullLegalName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,lastName, middleName, salutation, suffix</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>salutationOptions</name>
                        <value>
                            <stringValue>Mr.,Mrs.,Ms.,Dr.,Mx</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Date_of_birth</name>
                    <dataType>Date</dataType>
                    <fieldText>Date of birth</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Nationality_Country</name>
                    <choiceReferences>Advisory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Nationality (Country)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Country_of_Residence</name>
                    <choiceReferences>Advisory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Country of Residence</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Government_identification_number</name>
                    <dataType>String</dataType>
                    <fieldText>Government identification number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Politically_Exposed_Person_PEP</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Politically Exposed Person (PEP)?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <helpText>&lt;p&gt;A person who holds or has held a prominent public function (e.g., senior politician, judge, or military officer). This also applies to their immediate family and close business associates.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Residential_Address_section</name>
            <fieldText>Residential Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Residential_Address_section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Residential_Address</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>addressLookupLabel</name>
                        <value>
                            <stringValue>Search Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>proof_of_address_required_text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(244, 3, 3); background-color: rgb(255, 255, 255);&quot;&gt;* Proof of address is required!&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>proofOfResidentialAddressIsUploaded</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Proof_of_Address</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Proof of Address (Accepted Format: JPG, JPEG, PNG | Max size: 25 MB )</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.png,.jpeg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>proofOfResidentialAddressValue</assignToReference>
                        <name>contentVersionIds</name>
                    </outputParameters>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Personal_information_identity_stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Private_Risk_Assessment</name>
        <label>Private – Risk Assessment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Declaration_Submit</targetReference>
        </connector>
        <fields>
            <name>Risk_based_additional_information_section</name>
            <fieldText>Risk-based additional information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Risk_based_additional_information_section_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Risk_based_additional_information_section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_monthly_transaction_volume</name>
                    <dataType>Currency</dataType>
                    <fieldText>Expected monthly transaction volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Estimated_number_of_transactions_per_month</name>
                    <dataType>Number</dataType>
                    <fieldText>Estimated number of transactions per month</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_wealth</name>
                    <choiceReferences>Employment</choiceReferences>
                    <choiceReferences>Business_Ownership</choiceReferences>
                    <choiceReferences>Inheritance</choiceReferences>
                    <choiceReferences>Investment_Income</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Source of wealth</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Source_of_wealth_explanation</name>
                    <fieldText>Source of wealth – explanation</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Supporting_evidence_for_source_of_wealth</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supporting evidence for source of wealth (Accepted Format: JPG, JPEG, PNG | Max size: 25 MB )</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.png,.jpeg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Geographic_exposure_countries_funds_will_come_from_go_to</name>
                    <choiceReferences>Advisory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Geographic exposure – countries funds will come from/go to</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Intended_use_of_account</name>
                    <fieldText>Intended use of account</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Risk_based_additional_information_section_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Risk_based_Questions_Stage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Services_Required_checkbox</name>
        <label>Services Required checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Client_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Entry_Point</name>
            <fieldText>Entry Point</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Entry_Point_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Entry_Point_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Services_Required</name>
                    <choiceReferences>FX</choiceReferences>
                    <choiceReferences>Crypto</choiceReferences>
                    <choiceReferences>Advisory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Services Required</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Client_Type</name>
                    <choiceReferences>Private_individual</choiceReferences>
                    <choiceReferences>Corporate_entity</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Client Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Entry_Point_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Entry_Point_Stage</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Declaration_and_submission_stage</name>
        <isActive>true</isActive>
        <label>Declaration and submission</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Entry_Point_Stage</name>
        <isActive>true</isActive>
        <label>Entry Point</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Personal_information_identity_stage</name>
        <isActive>true</isActive>
        <label>Personal information &amp; identity</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Risk_based_Questions_Stage</name>
        <isActive>true</isActive>
        <label>Risk-based Questions</label>
        <stageOrder>3</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Services_Required_checkbox</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>proofOfResidentialAddressIsUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>proofOfResidentialAddressValue</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
